<div class="row">
    <div class="col-12">
        <form action="/accomplishment/update/{{accomplishment._id}}" method="post">

            <input type="hidden" name="accomplishmentId" value="{{accomplishment._id}}">
            <input type="hidden" name="instanceId" value="{{instanceId}}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Enter Header</label>
                <div class="col-sm-10">
                    <input type="text" name="headerText" class="form-control" placeholder="Header" value="{{accomplishment.headerText}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Enter Sub Header</label>
                <div class="col-sm-10">
                    <input type="text" name="subHeaderText" class="form-control" placeholder="Sub Header" value="{{accomplishment.subHeaderText}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Button Text</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="buttonText" placeholder="Button Text" value="{{accomplishment.buttonText}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Button Link</label>
                <div class="col-sm-10">
                    <input type="text" name="buttonLink" class="form-control" placeholder="Button Link" value="{{accomplishment.buttonLink}}">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary btn-block" type="submit">Update</button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block">Preview</button>
                </div>
            </div>
        </form>
    </div>
</div>
