<div class="col s12 m8 l9">

    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">Accomplishments </span>
            <form action="/accomplishment/update/{{accomplishment._id}}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="headerText" value="{{accomplishment.headerText}}" id="headerText" type="text" class="validate">
                        <label class="active" for="headerText"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input value="{{accomplishment.subHeaderText}}" name="subHeaderText" id="subHeaderText" type="text" class="validate">
                        <label class="active" for="subHeaderText"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input value="{{accomplishment.buttonText}}" id="buttonText" name="buttonText" type="text" class="validate">
                        <label class="active" for="buttonText"></label>
                    </div>
                </div>

                <input type="hidden" name="instanceId" value="{{accomplishment.instanceId}}">
                <input type="hidden" name="buttonLink" value="{{accomplishment.buttonLink}}">
                <div class="row">
                    <div class="col s12 m6 l6" ><p><a class="waves-effect waves-light btn" style="background-color: green;">Preview</a>
                    </p></div>
                    <div type="submit" class="col s12 m6 l6"><p><input value="Update" type="submit" class="waves-effect waves-light btn" style="background-color: #4a148c;">
                    </p></div>
                </div>
            </form>

            <br>
            <br>

            <span class="card-title">Goal Lists</span>
            <hr>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Goal</th>
                    <th>Visibility</th>
                </tr>
                </thead>

                <tbody>
                {{#each options}}
                <tr>
                    <td>{{this.categoryName}}</td>
                    <td>{{this.titleFuture}}</td>
                    <td>
                        <div class="switch">
                            <label class="show_hide" data-id="{{ this._id}}">
                                hide
                                <input type="checkbox" {{#if this.isVisible}} checked {{/if}}>
                                <span class="lever"></span>
                                show
                            </label>
                        </div>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        $('.show_hide').on('change',function(){
            var id = $(this).attr('data-id');
            var url = location.origin+'/option/alterVisibility/'+id;
            $.get(url).done(function(data){
                /*M.toast({html: '<span style="color:green;">Successfully done</span>'});*/
            }).fail(function(data){
                /*M.toast({html: '<span style="color:red;">Failed! Please try again later</span>'});*/
            });
        });
    });
</script>