<div class="col s12 m8 l9">

    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">Assess Risk</span>
            <form action="/assessRisk/update/{{assessRisk._id}}" method="post">

                <div class="row">
                    <div class="input-field col s12">
                        <input name="headerText" value="{{assessRisk.headerText}}" id="headerText" type="text" class="validate">
                        <label class="active" for="headerText">Enter Header Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="paragraphText" value="{{assessRisk.paragraphText}}" id="paragraphText" type="text" class="validate">
                        <label class="active" for="paragraphText">Enter Paragraph Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="subHeaderText" value="{{assessRisk.subHeaderText}}" id="subHeaderText" type="text" class="validate">
                        <label class="active" for="subHeaderText">Enter Sub Header Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="buttonText" value="{{assessRisk.buttonText}}" id="buttonText" type="text" class="validate">
                        <label class="active" for="buttonText">Enter Button Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <div class="row">
                            <div class="col s4" style="margin-top: 30px;">
                                workInfoRow Input
                            </div>
                            <div class="input-field col s1">
                                <select id="workInfoRow" name="workInfoRow">
                                    <option {{#equal assessRisk.workInfoRow "0"}} selected {{/equal}} value="0">1</option>
                                    <option {{#equal assessRisk.workInfoRow "1"}} selected {{/equal}} value="1">2</option>
                                    <option {{#equal assessRisk.workInfoRow "2"}} selected {{/equal}} value="2">3</option>
                                    <option {{#equal assessRisk.workInfoRow "3"}} selected {{/equal}} value="3">4</option>
                                    <option {{#equal assessRisk.workInfoRow "4"}} selected {{/equal}} value="4">5</option>
                                    <option {{#equal assessRisk.workInfoRow "5"}} selected {{/equal}} value="5">6</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4" style="margin-top: 30px;">
                                incomeRow Input
                            </div>
                            <div class="input-field col s1">
                                <select id="incomeRow" name="incomeRow">
                                    <option {{#equal assessRisk.incomeRow "0"}} selected {{/equal}} value="0">1</option>
                                    <option {{#equal assessRisk.incomeRow "1"}} selected {{/equal}} value="1">2</option>
                                    <option {{#equal assessRisk.incomeRow "2"}} selected {{/equal}} value="2">3</option>
                                    <option {{#equal assessRisk.incomeRow "3"}} selected {{/equal}} value="3">4</option>
                                    <option {{#equal assessRisk.incomeRow "4"}} selected {{/equal}} value="4">5</option>
                                    <option {{#equal assessRisk.incomeRow "5"}} selected {{/equal}} value="5">6</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4" style="margin-top: 30px;">
                                heightWeightRow Input
                            </div>
                            <div class="input-field col s1">
                                <select id="heightWeightRow" name="heightWeightRow">
                                    <option {{#equal assessRisk.heightWeightRow "0"}} selected {{/equal}} value="0">1</option>
                                    <option {{#equal assessRisk.heightWeightRow "1"}} selected {{/equal}} value="1">2</option>
                                    <option {{#equal assessRisk.heightWeightRow "2"}} selected {{/equal}} value="2">3</option>
                                    <option {{#equal assessRisk.heightWeightRow "3"}} selected {{/equal}} value="3">4</option>
                                    <option {{#equal assessRisk.heightWeightRow "4"}} selected {{/equal}} value="4">5</option>
                                    <option {{#equal assessRisk.heightWeightRow "5"}} selected {{/equal}} value="5">6</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row">
                            <div class="col s4" style="margin-top: 30px;">
                                smokeRow Input
                            </div>
                            <div class="input-field col s1">
                                <select id="smokeRow" name="smokeRow">
                                    <option {{#equal assessRisk.smokeRow "0"}} selected {{/equal}} value="0">1</option>
                                    <option {{#equal assessRisk.smokeRow "1"}} selected {{/equal}} value="1">2</option>
                                    <option {{#equal assessRisk.smokeRow "2"}} selected {{/equal}} value="2">3</option>
                                    <option {{#equal assessRisk.smokeRow "3"}} selected {{/equal}} value="3">4</option>
                                    <option {{#equal assessRisk.smokeRow "4"}} selected {{/equal}} value="4">5</option>
                                    <option {{#equal assessRisk.smokeRow "5"}} selected {{/equal}} value="5">6</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4" style="margin-top: 30px;">
                                healthIssueRow Input
                            </div>
                            <div class="input-field col s1">
                                <select id="healthIssueRow" name="healthIssueRow">
                                    <option {{#equal assessRisk.healthIssueRow "0"}} selected {{/equal}} value="0">1</option>
                                    <option {{#equal assessRisk.healthIssueRow "1"}} selected {{/equal}} value="1">2</option>
                                    <option {{#equal assessRisk.healthIssueRow "2"}} selected {{/equal}} value="2">3</option>
                                    <option {{#equal assessRisk.healthIssueRow "3"}} selected {{/equal}} value="3">4</option>
                                    <option {{#equal assessRisk.healthIssueRow "4"}} selected {{/equal}} value="4">5</option>
                                    <option {{#equal assessRisk.healthIssueRow "5"}} selected {{/equal}} value="5">6</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4" style="margin-top: 30px;">
                                retireAgeRow Input
                            </div>
                            <div class="input-field col s1">
                                <select id="retireAgeRow" name="retireAgeRow">
                                    <option {{#equal assessRisk.retireAgeRow "0"}} selected {{/equal}} value="0">1</option>
                                    <option {{#equal assessRisk.retireAgeRow "1"}} selected {{/equal}} value="1">2</option>
                                    <option {{#equal assessRisk.retireAgeRow "2"}} selected {{/equal}} value="2">3</option>
                                    <option {{#equal assessRisk.retireAgeRow "3"}} selected {{/equal}} value="3">4</option>
                                    <option {{#equal assessRisk.retireAgeRow "4"}} selected {{/equal}} value="4">5</option>
                                    <option {{#equal assessRisk.retireAgeRow "5"}} selected {{/equal}} value="5">6</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="instanceId" value="{{assessRisk.instanceId}}">
                <input type="hidden" name="buttonLink" value="{{assessRisk.buttonLink}}">
                <input type="hidden" name="callBackURL" value="/assessRisk/display/{{assessRisk._id}}">

                <div class="row">
                    <div class="col s12 m6 l6" ><p><a class="waves-effect waves-light btn" style="background-color: green;">Preview</a>
                    </p></div>
                    <div type="submit" class="col s12 m6 l6"><p><input value="Update" type="submit" class="waves-effect waves-light btn" style="background-color: #4a148c;">
                    </p></div>
                </div>

            </form>
        </div>
    </div>

</div>