
<div class="row">
    <div class="col-12">
        <form action="/homePage/update/{{home._id}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="instanceId" value="{{home.instanceId}}">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Current Logo</label>
                <div class="col-sm-6">
                    <img src="{{home.logoPath}}" alt="" width="180px" height="50px">
                </div>
                <div class="col-4">
                    <div class="custom-file" style="margin-top: 6px;">
                        <input type="file" name="image" class="custom-file-input">
                        <label class="custom-file-label font-weight-bold" for="customFile" style="margin: 0;margin-top: 8px;">Update Logo</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Welcome Text</label>
                <div class="col-sm-10">
                    <input type="text" name="welComeText" class="form-control" placeholder="Welcome Text" value="{{home.welComeText}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Enter Header</label>
                <div class="col-sm-10">
                    <input type="text" name="header" class="form-control" placeholder="Header" value="{{home.header}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Enter Info</label>
                <div class="col-sm-10">
                    <input type="text" name="info" class="form-control" placeholder="Home Page Info" value="{{home.info}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Anchor Text</label>
                <div class="col-sm-10">
                    <input type="text" name="anchorText" class="form-control" placeholder="Anchor Text" value="{{home.anchorText}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Anchor Tooltip</label>
                <div class="col-sm-10">
                    <input type="text" name="anchorLink" class="form-control" placeholder="Enter Anchor Tooltip" value="{{home.anchorLink}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Button Text</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="buttonText" placeholder="Button Text" value="{{home.buttonText}}">
                </div>
            </div>
            <input type="hidden" name="buttonLink" class="form-control" placeholder="Button Link" value="{{home.buttonLink}}">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-2">
                    <button class="btn btn-block btn-sm bg-secondary text-white">Preview</button>
                </div>
                <div class="col-2"></div>
                <div class="col-2">
                    <button class="btn btn-block btn-sm bg-info text-white" type="submit">Update</button>
                </div>
                <div class="col-3"></div>
            </div>
        </form>
    </div>
</div>