<div class="col s12 m8 l9">

    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">Save My Plan</span>
            <form action="/myPlan/update/{{myPlan._id}}" method="post">

                <div class="row">
                    <div class="input-field col s12">
                        <input name="headerText" value="{{myPlan.headerText}}" id="headerText" type="text" class="validate">
                        <label class="active" for="headerText">Enter Header Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="subHeaderText" value="{{myPlan.subHeaderText}}" id="subHeaderText" type="text" class="validate">
                        <label class="active" for="subHeaderText">Enter Sub Header Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="complement" value="{{myPlan.complement}}" id="complement" type="text" class="validate">
                        <label class="active" for="complement">Enter Complement</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="finalInstruction" value="{{myPlan.finalInstruction}}" id="finalInstruction" type="text" class="validate">
                        <label class="active" for="finalInstruction">Enter Final Instruction</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="bottomButtonText" value="{{myPlan.bottomButtonText}}" id="bottomButtonText" type="text" class="validate">
                        <label class="active" for="bottomButtonText">Bottom Button Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="bottomButtonLink" value="{{myPlan.bottomButtonLink}}" id="bottomButtonLink" type="text" class="validate">
                        <label class="active" for="bottomButtonLink">bottomButtonLink</label>
                    </div>
                </div>

                <input type="hidden" name="instanceId" value="{{instanceId}}">
                <input type="hidden" name="buttonLink" value="{{myPlan.buttonLink}}">
                <input type="hidden" name="callbackURL" value="/myPlan/display/{{myPlan._id}}">

                <div class="row">
                    <div class="col s12 m6 l6" ><p><a class="waves-effect waves-light btn" style="background-color: green;">Preview</a>
                    </p></div>
                    <div type="submit" class="col s12 m6 l6"><p><input value="Update" type="submit" class="waves-effect waves-light btn" style="background-color: #4a148c;">
                    </p></div>
                </div>

            </form>

            <br>
            <br>

            <span class="card-title">Card Buttons</span>
            <hr>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>Card Name</th>
                    <th>Button Text</th>
                    <th>Button URL</th>
                    <th>Visibility</th>
                </tr>
                </thead>
                <tbody>
                {{#each cardButtons}}
                    <form action="/cardButton/update/{{this._id}}" method="post">
                    <input type="hidden" name="callBackUrl" value="/myPlan/display/{{instanceId}}">
                    <tr>
                        <td>{{this.cardName}}</td>
                        <td>
                            <input value="{{this.buttonText}}" name="buttonText" type="text">
                        </td>
                        <td>
                            <input value="{{this.buttonUrl}}" name="buttonUrl" type="text">
                        </td>
                        <td>
                            <div class="switch">
                                <label class="show_hide" data-id="{{ this._id}}">
                                    hide
                                    <input type="checkbox" {{#if this.isVisible}} checked {{/if}}>
                                    <span class="lever"></span>
                                    show
                                </label>
                            </div>
                        </td>
                        <td>
                            <button type="submit" class=" waves-effect waves-light btn">Update</button>
                        </td>
                    </tr>
                    </form>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        $('.show_hide').on('change',function(){
            var id = $(this).attr('data-id');
            var url = location.origin + '/cardButton/alterVisibility/' + id;
            $.get(url).done(function(data){
                console.log(data);
                if (data.data.isVisible) {
                    Materialize.toast('Card button is now visible.', 1000);
                } else {
                    Materialize.toast('Card button is now not visible.', 1000);
                }
            }).fail(function(data){
                console.log(data);
            });
        });
    });
</script>