<script>
   /* Handlebars.registerHelper('equal', function(lvalue, rvalue, options) {
        if (arguments.length < 3)
            throw new Error("Handlebars Helper equal needs 2 parameters");
        if( lvalue!=rvalue ) {
            return options.inverse(this);
        } else {
            return options.fn(this);
        }
    });*/
</script>

<div class="col s12 m8 l9">

    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">Sign Up </span>
            <form action="/siteUserSignUp/update/{{siteUserSignUp._id}}" method="post">

                <div class="row">
                    <div class="input-field col s12">
                        <input name="headerText" value="{{siteUserSignUp.headerText}}" id="headerText" type="text" class="validate">
                        <label class="active" for="headerText">Enter Header Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="beforeAge" value="{{siteUserSignUp.beforeAge}}" id="beforeAge" type="text" class="validate">
                        <label class="active" for="beforeAge">Enter Before Age</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="afterAge" value="{{siteUserSignUp.afterAge}}" id="afterAge" type="text" class="validate">
                        <label class="active" for="afterAge">Enter After Age</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="beforeGender" value="{{siteUserSignUp.beforeGender}}" id="beforeGender" type="text" class="validate">
                        <label class="active" for="beforeGender">Enter Before Gender</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="beforeZip" value="{{siteUserSignUp.beforeZip}}" id="beforeZip" type="text" class="validate">
                        <label class="active" for="beforeZip">Enter Before Zip</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="buttonText" value="{{siteUserSignUp.buttonText}}" id="buttonText" type="text" class="validate">
                        <label class="active" for="buttonText">Enter Button Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s3">
                        <select name="yearRow">
                            <option value="" disabled selected>Select Row {{siteUserSignUp.yearRow}}</option>
                            <option {{#equal siteUserSignUp.yearRow "1"}} selected {{/equal}} value="1">First Row</option>
                            <option {{#equal siteUserSignUp.yearRow "2"}} selected {{/equal}} value="2">Second Row</option>
                            <option {{#equal siteUserSignUp.yearRow "3"}} selected {{/equal}} value="3">Third Row</option>
                        </select>
                        <label>Age Row In Form</label>
                    </div>
                    <div class="input-field col s1"></div>
                    <div class="input-field col s3">
                        <select name="genderRow">
                            <option value="" disabled selected>Select Row</option>
                            <option {{#equal siteUserSignUp.genderRow "1"}} selected {{/equal}} value="1">First Row</option>
                            <option {{#equal siteUserSignUp.genderRow "2"}} selected {{/equal}} value="2">Second Row</option>
                            <option {{#equal siteUserSignUp.genderRow "3"}} selected {{/equal}} value="3">Third Row</option>
                        </select>
                        <label>Gender Row In Form</label>
                    </div>
                    <div class="input-field col s1"></div>
                    <div class="input-field col s3">
                        <select name="zipRow">
                            <option value="" disabled selected>Select Row</option>
                            <option {{#equal siteUserSignUp.zipRow "1"}} selected {{/equal}} value="1">First Row</option>
                            <option {{#equal siteUserSignUp.zipRow "2"}} selected {{/equal}} value="2">Second Row</option>
                            <option {{#equal siteUserSignUp.zipRow "3"}} selected {{/equal}} value="3">Third Row</option>
                        </select>
                        <label>ZipCode Row In Form</label>
                    </div>
                </div>

                <input type="hidden" value="{{siteUserSignUp.instanceId}}">

                <div class="row">
                    <div class="col s12 m6 l6" ><p><a class="waves-effect waves-light btn" style="background-color: green;">Preview</a>
                    </p></div>
                    <div type="submit" class="col s12 m6 l6"><p><input value="Update" type="submit" class="waves-effect waves-light btn" style="background-color: #4a148c;">
                    </p></div>
                </div>

            </form>
        </div>
    </div>

</div>

<script>
    let checkMethod = () => {
        console.log('Checking');
        return true;
    };
</script>