<div class="row">
    <div class="modal fade" id="{{futureGoal._id}}categoryCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Category</h5>
                </div>
                <div class="modal-body">
                    <form action="/category/create" method="post">
                        <input type="hidden" name="callBackURL" value="/futureGoal/display/{{instanceId}}">
                        <input type="hidden" name="instanceId" value="{{instanceId}}">
                        <div class="form-group">
                            <label>Category Id</label>
                            <input type="text" class="form-control" name="catId" placeholder="Enter Category Id">
                        </div>
                        <div class="form-group">
                            <label>Category Name</label>
                            <input type="text" class="form-control" name="categoryName" placeholder="Enter Category Name">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <div class="text-center font-weight-bold d-block p-2 bg-secondary text-white">Category</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Visibility</th>
                <th scope="col">Goals</th>
            </tr>
            </thead>
            <tbody>
            {{#each categories}}
                <tr>
                    <td>{{this.catId}}</td>
                    <td>{{this.name}}</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#updateCategory{{this._id}}">Update</button>
                        <div class="modal fade" id="updateCategory{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="leModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                                        <!--<form action="/category/delete/{{this._id}}" method="post">
                                            <input type="hidden" name="callBackURL" value="/futureGoal/display/{{instanceId}}">
                                            <button class="btn btn-danger" type="submit">Delete {{this.categoryName}}</button>
                                        </form>-->
                                    </div>
                                    <div class="modal-body">
                                        <form action="/category/update/{{this._id}}" method="post">
                                            <input type="hidden" name="callBackURL" value="/futureGoal/display/{{instanceId}}">
                                            <div class="form-group">
                                                <label>Category Id</label>
                                                <input type="text" class="form-control" name="catId" placeholder="Enter Category Id" value="{{this.catId}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Category Name</label>
                                                <input type="text" class="form-control" name="categoryName" placeholder="Enter Category Name" value="{{this.name}}">
                                            </div>
                                            <input type="hidden" class="form-control" name="class" placeholder="Enter Category Class" value="{{this.class}}">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form action="/category/alterVisibility/{{this._id}}" method="post">
                            <input type="hidden" name="callBackURL" value="/futureGoal/display/{{instanceId}}">
                            {{#if this.isVisible}}
                                <button class="btn btn-danger" type="submit">Make Invisible</button>
                            {{else}}
                                <button class="btn btn-success" type="submit">Make Visibile</button>
                            {{/if}}
                        </form>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{this._id}}goalList">
                            Option List
                        </button>
                        <div class="modal lg fade" id="{{this._id}}goalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Change Goals Visibilty and Text</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#{{this.name}}createGoal">Create Option for {{this.name}}</button>
                                        </button>
                                        <div class="modal fade" id="{{this.name}}createGoal" tabindex="-1" role="dialog" aria-labelledby="createGoal" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="createGoal">Creating Option for {{this.name}}</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/option/create" method="post"  enctype="multipart/form-data">
                                                            <input type="hidden" name="callBackURL" value="/futureGoal/display/{{instanceId}}">
                                                            <input type="hidden" name="catId" value={{this.catId}}>
                                                            <input type="hidden" name="categoryId" value={{this._id}}>
                                                            <input type="hidden" name="instanceId" value={{instanceId}}>
                                                            <div class="form-group row">
                                                                <div class="custom-file">
                                                                    <input type="file" name="image" class="custom-file-input">
                                                                    <label class="custom-file-label font-weight-bold" for="customFile">Choose Goal Logo</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Option Id</label>
                                                                <input type="text" class="form-control" name="optId" placeholder="Enter Option Id">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Option Name</label>
                                                                <input type="text" class="form-control" name="optionName" placeholder="Enter Option Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Title Past</label>
                                                                <input type="text" class="form-control" name="titlePast" placeholder="Enter Title Past">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Title Future</label>
                                                                <input type="text" class="form-control" name="titleFuture" placeholder="Enter Title Future">
                                                            </div>

                                                            <button type="submit" class="btn btn-primary">Create</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Past</th>
                                                <th scope="col">Future</th>
                                                <th scope="col">Update</th>
                                                <th scope="col">Visibility</th>
                                                <th scope="col">Icon</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#each this.options}}
                                                <tr>
                                                    <td>{{this.optionName}}</td>
                                                    <td>{{this.titlePast}}</td>
                                                    <td>{{this.titleFuture}}</td>
                                                    <td>
                                                        <button class="btn btn-primary" data-toggle="modal" data-target="#updateModal{{this._id}}">Update</button>
                                                        <div class="modal fade" id="updateModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="leModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Update Option</h5>
                                                                        <form action="/option/delete/{{this._id}}" method="post">
                                                                            <input type="hidden" name="callBackURL" value="/futureGoal/display/{{instanceId}}">
                                                                            <button class="btn btn-danger" type="submit">Delete</button>
                                                                        </form>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form action="/option/update/{{this._id}}" method="post" enctype="multipart/form-data">
                                                                            <input type="hidden" name="callBackURL" value="/futureGoal/display/{{instanceId}}">
                                                                            <div class="form-group row">
                                                                                <div class="custom-file">
                                                                                    <input type="file" name="image" class="custom-file-input">
                                                                                    <label class="custom-file-label font-weight-bold" for="customFile">Choose Option Logo</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Option Name</label>
                                                                                <input type="text" class="form-control" name="optionName" placeholder="Enter Option Name" value="{{this.optionName}}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Past Title</label>
                                                                                <input type="text" class="form-control" name="titlePast" placeholder="Enter Past Title" value="{{this.titlePast}}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Future Title</label>
                                                                                <input type="text" class="form-control" name="titleFuture" placeholder="Enter Future Title" value="{{this.titleFuture}}">
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary">Update Option</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <form action="/option/alterVisibility/{{this._id}}" method="post">
                                                            <input type="hidden" name="callBackURL" value="/futureGoal/display/{{instanceId}}">
                                                            {{#if this.isVisible}}
                                                                <button class="btn btn-danger" type="submit">Make Option Invisible</button>
                                                            {{else}}
                                                                <button class="btn btn-success" type="submit">Make Option Visibile</button>
                                                            {{/if}}
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <img src="{{this.iconPath}}" alt="{{this.iconPath}}" height="35px" width="35px">
                                                    </td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
