<div class="list-group border-0 card text-center text-md-left">
    {{#each instances}}
        <a id="mainMenu" href="#defaultSiteMenu{{this.companyName}}" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"> <span class="d-none d-md-inline">{{this.instanceName}}</span> </a>
        <div class="collapse" id="defaultSiteMenu{{this.companyName}}">
            <a id="subMenu" href="/homePage/display/{{this._id}}" class="list-group-item" data-parent="#defaultSiteMenu{{this.companyName}}">
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" aria-hidden="true"></i>
                Home Page</a>
            <a id="subMenu" href="/accomplishment/display/{{this._id}}" class="list-group-item" data-parent="#defaultSiteMenu{{this.companyName}}">
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trophy" aria-hidden="true"></i>
                Accomplishment</a>
            <a id="subMenu" href="/futureGoal/display/{{this._id}}" class="list-group-item" data-parent="#defaultSiteMenu{{this.companyName}}">
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-eye" aria-hidden="true"></i>
                Future Goal</a>
            <!--<a id="subMenu" href="/category/display/{{this._id}}" class="list-group-item" data-parent="#defaultSiteMenu{{this.companyName}}">
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-location-arrow" aria-hidden="true"></i>
                Categories</a>-->
        </div>
    {{/each}}
    <a id="mainMenu" href="/instances/createSelectInstances" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><span class="d-none d-md-inline">Quick Edit</span></a>
    <a id="mainMenu" href="/instances/createSelectInstances" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><span class="d-none d-md-inline">Instances</span></a>
    <hr color="white">
    <a id="mainMenu" href="/siteUser/display" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><span class="d-none d-md-inline">Users Data</span></a>
    <a id="mainMenu" href="/user" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-users"></i> <span class="d-none d-md-inline">Admins</span></a>
    <a id="mainMenu" href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-arrow-circle-down"></i> <span class="d-none d-md-inline">Exports</span></a>
    <a id="mainMenu" href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-cogs"></i> <span class="d-none d-md-inline">Users Fallout</span></a>
    <a id="mainMenu" href="/auth/logout" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-sign-out"></i> <span class="d-none d-md-inline">Logout</span></a>
</div>