<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Zip Code</th>
                <th scope="col">Accomplishments</th>
                <th scope="col">Future Goals</th>
            </tr>
            </thead>
            <tbody>
            {{#each siteUsers}}
                <tr>
                    <th>{{this.age}}</th>
                    <td>{{this.gender}}</td>
                    <td>{{this.zip}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{this._id}}accomplishmentFullOptions">
                            Acccomplishment ({{this.accomplishmentFullOptions.length}})
                        </button>
                        <div class="modal fade" id="{{this._id}}accomplishmentFullOptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <table class="table">
                                            <tbody>
                                            {{#each this.accomplishmentFullOptions}}
                                            <tr>
                                                <td>{{this.titlePast}}</td>
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{this._id}}futureGoalFullOptions">
                            Future Goals ({{this.futureGoalFullOptions.length}})
                        </button>
                        <div class="modal fade" id="{{this._id}}futureGoalFullOptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <table class="table">
                                            <tbody>
                                            {{#each this.futureGoalFullOptions}}
                                                <tr>
                                                    <td>{{this.titlePast}}</td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>