

<div class="col s12 m8 l9">

    <div>
        <button data-target="modal1" class="btn modal-trigger">Modal</button>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>

    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">Users Data</span>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Zip Code</th>
                    <th>Accomplishments</th>
                    <th>Future Goals</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                {{#each siteUsers}}
                    <tr>
                        <td>{{this.age}}</td>
                        <td>{{this.gender}}</td>
                        <td>{{this.zip}}</td>
                        <td>Accomplishment ({{this.accomplishmentFullOptions.length}}</td>
                        <td>

                        </td>
                        <td>
                            <a href="/siteUser/delete/{{this._id}}" style="color: red">Delete</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
