<form action="/accomplishment/updateEditInstance/{{accomplishment._id}}" method="post">
    <div class="row">
        <div class="input-field col s12">
            <input name="headerText" value="{{accomplishment.headerText}}" id="headerText" type="text" class="validate">
            <label class="active" for="headerText">Enter Header Text</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input value="{{accomplishment.subHeaderText}}" name="subHeaderText" id="subHeaderText" type="text" class="validate">
            <label class="active" for="subHeaderText">Enter Sub Header Text</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input value="{{accomplishment.buttonText}}" id="buttonText" name="buttonText" type="text" class="validate">
            <label class="active" for="buttonText">Enter Button Text</label>
        </div>
    </div>

    <input type="hidden" name="instanceId" value="{{accomplishment.instanceId}}">
    <input type="hidden" name="buttonLink" value="{{accomplishment.buttonLink}}">
    <div class="row">
        <div class="col s12 m6 l6" ><p><a class="waves-effect waves-light btn" style="background-color: green;">Preview</a>
        </p></div>
        <div type="submit" class="col s12 m6 l6"><p><input value="Update" type="submit" class="waves-effect waves-light btn" style="background-color: #4a148c;">
        </p></div>
    </div>
</form>

<br>
<br>

<span class="card-title">Goal Lists</span>
<hr>
<table class="responsive-table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Goal</th>
        <th>Visibility</th>
    </tr>
    </thead>

    <tbody>
    {{#each options}}
        <tr>
            <td>{{this.categoryName}}</td>
            <td>{{this.titleFuture}}</td>
            <td>
                {{#if this.isVisible}}
                    <div class="switch">
                        <label>
                            hide
                            <input type="checkbox" checked>
                            <span class="lever"></span>
                            show
                        </label>
                    </div>
                {{else}}
                    <div class="switch">
                        <label>
                            hide
                            <input type="checkbox">
                            <span class="lever"></span>
                            show
                        </label>
                    </div>
                {{/if}}

            </td>
        </tr>
    {{/each}}
    </tbody>
</table>