<form action="/accomplishment/updateEditInstance/{{accomplishment._id}}" method="post">
    <div class="row">
        <div class="input-field col s10">
            <input name="headerText" value="{{accomplishment.headerText}}" id="headerTextAccomplishment" type="text" class="validate">
            <label class="active" for="headerTextAccomplishment">Enter Header Text</label>
        </div>
        <div class="col s2" style="margin-top: 15px;">
            <button class="btn waves-effect waves-light setToDefaultButtonHeaderText">Set to Default
            </button>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input value="{{accomplishment.subHeaderText}}" name="subHeaderText" id="subHeaderTextAccomplishment" type="text" class="validate">
            <label class="active" for="subHeaderTextAccomplishment">Enter Sub Header Text</label>
        </div>
        <div class="col s2" style="margin-top: 15px;">
            <button class="btn waves-effect waves-light setToDefaultButtonSubHeaderText">Set to Default
            </button>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input value="{{accomplishment.buttonText}}" id="buttonTextAccomplishment" name="buttonText" type="text" class="validate">
            <label class="active" for="buttonTextAccomplishment">Enter Button Text</label>
        </div>
        <div class="col s2" style="margin-top: 15px;">
            <button class="btn waves-effect waves-light setToDefaultButtonButtonText">Set to Default
            </button>
        </div>
    </div>

    <input type="hidden" name="instanceId" value="{{accomplishment.instanceId}}">
    <input type="hidden" name="buttonLink" value="{{accomplishment.buttonLink}}">
    <div class="row">
        <div class="col s12 m6 l6" ><p><a class="waves-effect waves-light btn" style="background-color: green;">Preview</a>
        </p></div>
        <div type="submit" class="col s12 m6 l6"><p><input value="Update" type="submit" class="waves-effect waves-light btn" style="background-color: #4a148c;">
        </p></div>
    </div>
</form>

<br>
<br>

<span class="card-title">Goal Lists</span>
<hr>
<table class="responsive-table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Goal</th>
        <th>Visibility</th>
    </tr>
    </thead>

    <tbody>
    {{#each options}}
        <tr>
            <td>{{this.categoryName}}</td>
            <td>{{this.titlePast}}</td>
            <td>
                <div class="switch">
                    <label class="show_hide" data-id="{{ this._id}}">
                        hide
                        <input type="checkbox" {{#if this.isVisible}} checked {{/if}}>
                        <span class="lever"></span>
                        show
                    </label>
                </div>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<script>
    $(document).ready(() => {

        $('.setToDefaultButtonHeaderText').on('click', () => {
            event.preventDefault();
            let url = location.origin + '/defaultInstance/getData/';
            $.get(url).done(function(data){
                $('#headerTextAccomplishment').val(data.accomplishment.headerText);
            }).fail(function(data){
                /*M.toast({html: '<span style="color:red;">Failed! Please try again later</span>'});*/
            });
        });

        $('.setToDefaultButtonSubHeaderText').on('click', () => {
            event.preventDefault();
            let url = location.origin + '/defaultInstance/getData/';
            $.get(url).done(function(data){
                $('#subHeaderTextAccomplishment').val(data.accomplishment.subHeaderText);
            }).fail(function(data){
                /*M.toast({html: '<span style="color:red;">Failed! Please try again later</span>'});*/
            });
        });

        $('.setToDefaultButtonButtonText').on('click', () => {
            event.preventDefault();
            let url = location.origin + '/defaultInstance/getData/';
            $.get(url).done(function(data){
                $('#buttonTextAccomplishment').val(data.accomplishment.buttonText);
            }).fail(function(data){
                /*M.toast({html: '<span style="color:red;">Failed! Please try again later</span>'});*/
            });
        });

    });
</script>