<form action="/futureGoal/updateEditInstance/{{futureGoal._id}}" method="post">
    <div class="row">
        <div class="input-field col s10">
            <input name="headerText" value="{{futureGoal.headerText}}" id="headerTextFutureGoal" type="text" class="validate">
            <label class="active" for="headerTextFutureGoal">Enter Header Text</label>
        </div>
        <div class="col s2" style="margin-top: 15px;">
            <button class="btn waves-effect waves-light setToDefaultButtonHeaderText">Set to Default
            </button>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input value="{{futureGoal.subHeaderText}}" name="subHeaderText" id="subHeaderTextFutureGoal" type="text" class="validate">
            <label class="active" for="subHeaderTextFutureGoal">Enter Sub Header Text</label>
        </div>
        <div class="col s2" style="margin-top: 15px;">
            <button class="btn waves-effect waves-light setToDefaultButtonSubHeaderText">Set to Default
            </button>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input value="{{futureGoal.buttonText}}" id="buttonTextFutureGoal" name="buttonText" type="text" class="validate">
            <label class="active" for="buttonTextFutureGoal">Enter Button Text</label>
        </div>
        <div class="col s2" style="margin-top: 15px;">
            <button class="btn waves-effect waves-light setToDefaultButtonButtonText">Set to Default
            </button>
        </div>
    </div>

    <input type="hidden" name="instanceId" value="{{futureGoal.instanceId}}">
    <input type="hidden" name="buttonLink" value="{{futureGoal.buttonLink}}">
    <div class="row">
        <div class="col s12 m6 l6" ><p><a class="waves-effect waves-light btn" style="background-color: green;">Preview</a>
        </p></div>
        <div type="submit" class="col s12 m6 l6"><p><input value="Update" type="submit" class="waves-effect waves-light btn" style="background-color: #4a148c;">
        </p></div>
    </div>
</form>

<br>
<br>

<span class="card-title">Goal Lists</span>
<hr>
<table class="responsive-table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Goal</th>
        <th>Visibility</th>
    </tr>
    </thead>

    <tbody>
    {{#each options}}
        <tr>
            <td>{{this.categoryName}}</td>
            <td>{{this.titleFuture}}</td>
            <td>
                <div class="switch">
                    <label class="show_hide" data-id="{{ this._id}}">
                        hide
                        <input type="checkbox" {{#if this.isVisible}} checked {{/if}}>
                        <span class="lever"></span>
                        show
                    </label>
                </div>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<script>
    $('.setToDefaultButtonHeaderText').on('click', () => {
        event.preventDefault();
        let url = location.origin + '/defaultInstance/getData/';
        $.get(url).done(function(data){
            $('#headerTextFutureGoal').val(data.futureGoal.headerText);
        }).fail(function(data){
            console.log(data);
        });
    });

    $('.setToDefaultButtonSubHeaderText').on('click', () => {
        event.preventDefault();
        let url = location.origin + '/defaultInstance/getData/';
        $.get(url).done(function(data){
            $('#subHeaderTextFutureGoal').val(data.futureGoal.subHeaderText);
        }).fail(function(data){
            console.log(data);
        });
    });

    $('.setToDefaultButtonButtonText').on('click', () => {
        event.preventDefault();
        let url = location.origin + '/defaultInstance/getData/';
        $.get(url).done(function(data){
            $('#buttonTextFutureGoal').val(data.futureGoal.buttonText);
        }).fail(function(data){
            console.log(data);
        });
    });
</script>