
<form action="/siteUserSignUp/updateEditInstance/{{siteUserSignUp._id}}" method="post">

    <div class="row">
        <div class="input-field col s10">
            <input name="headerText" value="{{siteUserSignUp.headerText}}" id="headerTextSiteUserSignUp" type="text" class="validate">
            <label class="active" for="headerTextSiteUserSignUp">Enter Header Text</label>
        </div>
        <div class="col s2" style="margin-top: 35px;">
            <button class="btn waves-effect waves-light setToDefaultButtonHeaderText">Set to Default
            </button>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input name="beforeAge" value="{{siteUserSignUp.beforeAge}}" id="beforeAgeSiteUserSignUp" type="text" class="validate">
            <label class="active" for="beforeAgeSiteUserSignUp">Enter Before Age</label>
        </div>
        <div class="col s2" style="margin-top: 35px;">
            <button class="btn waves-effect waves-light setToDefaultButtonBeforeAge">Set to Default
            </button>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input name="afterAge" value="{{siteUserSignUp.afterAge}}" id="afterAgeSiteUserSignUp" type="text" class="validate">
            <label class="active" for="afterAge">Enter After Age</label>
        </div>
        <div class="col s2" style="margin-top: 35px;">
            <button class="btn waves-effect waves-light setToDefaultButtonAfterAge">Set to Default
            </button>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input name="beforeGender" value="{{siteUserSignUp.beforeGender}}" id="beforeGenderSiteUserSignUp" type="text" class="validate">
            <label class="active" for="beforeGenderSiteUserSignUp">Enter Before Gender</label>
        </div>
        <div class="col s2" style="margin-top: 35px;">
            <button class="btn waves-effect waves-light setToDefaultButtonBeforeGender">Set to Default
            </button>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input name="beforeZip" value="{{siteUserSignUp.beforeZip}}" id="beforeZipSiteUserSignUp" type="text" class="validate">
            <label class="active" for="beforeZip">Enter Before Zip</label>
        </div>
        <div class="col s2" style="margin-top: 35px;">
            <button class="btn waves-effect waves-light setToDefaultButtonBeforeZip">Set to Default
            </button>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input name="buttonText" value="{{siteUserSignUp.buttonText}}" id="buttonTextSiteUserSignUp" type="text" class="validate">
            <label class="active" for="buttonText">Enter Button Text</label>
        </div>
        <div class="col s2" style="margin-top: 35px;">
            <button class="btn waves-effect waves-light setToDefaultButtonButtonText">Set to Default
            </button>
        </div>
    </div>

    <!--form row-->

    <div class="row">
        <div class="col s2"><u>Forms Input Section</u></div>
        <div class="col s1"><u>Order</u></div>
    </div>
    <div class="row">
        <div class="col s2" style="margin-top: 30px;">
            Age Input
        </div>
        <div class="input-field col s1">
            <select id="ageRow" name="ageRow">
                <option {{#equal siteUserSignUp.ageRow "1"}} selected {{/equal}} value="0">1</option>
                <option {{#equal siteUserSignUp.ageRow "2"}} selected {{/equal}} value="1">2</option>
                <option {{#equal siteUserSignUp.ageRow "3"}} selected {{/equal}} value="2">3</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col s2" style="margin-top: 30px;">
            Gender Input
        </div>
        <div class="input-field col s1">
            <select id="genderRow" name="genderRow">
                <option {{#equal siteUserSignUp.genderRow "1"}} selected {{/equal}} value="0">1</option>
                <option {{#equal siteUserSignUp.genderRow "2"}} selected {{/equal}} value="1">2</option>
                <option {{#equal siteUserSignUp.genderRow "3"}} selected {{/equal}} value="2">3</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col s2" style="margin-top: 30px;">
            Zip Input
        </div>
        <div class="input-field col s1">
            <select id="zipRow" name="zipRow">
                <option {{#equal siteUserSignUp.zipRow "1"}} selected {{/equal}} value="0">1</option>
                <option {{#equal siteUserSignUp.zipRow "2"}} selected {{/equal}} value="1">2</option>
                <option {{#equal siteUserSignUp.zipRow "3"}} selected {{/equal}} value="2">3</option>
            </select>
        </div>
    </div>

    <input type="hidden" value="{{siteUserSignUp.instanceId}}">

    <div class="row">
        <div class="col s10 m6 l6" ><p><a class="waves-effect waves-light btn" style="background-color: green;">Preview</a>
        </p></div>
        <div type="submit" class="col s10 m6 l6"><p><input value="Update" type="submit" class="waves-effect waves-light btn" style="background-color: #4a148c;">
        </p></div>
    </div>

</form>

<script>
    $(document).ready(() => {

        $('.setToDefaultButtonHeaderText').on('click', () => {
            event.preventDefault();
            let url = location.origin + '/defaultInstance/getData/';
            $.get(url).done(function(data){
                $('#headerTextSiteUserSignUp').val(data.siteUserSignUp.headerText);
            }).fail(function(data){
                /*M.toast({html: '<span style="color:red;">Failed! Please try again later</span>'});*/
            });
        });

        $('.setToDefaultButtonBeforeAge').on('click', () => {
            event.preventDefault();
            let url = location.origin + '/defaultInstance/getData/';
            $.get(url).done(function(data){
                $('#beforeAgeSiteUserSignUp').val(data.siteUserSignUp.beforeAge);
            }).fail(function(data){
                console.log(data);
            });
        });

        $('.setToDefaultButtonAfterAge').on('click', () => {
            event.preventDefault();
            let url = location.origin + '/defaultInstance/getData/';
            $.get(url).done(function(data){
                $('#afterAgeSiteUserSignUp').val(data.siteUserSignUp.afterAge);
            }).fail(function(data){
                console.log(data);
            });
        });

        $('.setToDefaultButtonBeforeGender').on('click', () => {
            event.preventDefault();
            let url = location.origin + '/defaultInstance/getData/';
            $.get(url).done(function(data){
                $('#beforeGenderSiteUserSignUp').val(data.siteUserSignUp.beforeGender);
            }).fail(function(data){
                console.log(data);
            });
        });

        $('.setToDefaultButtonBeforeZip').on('click', () => {
            event.preventDefault();
            let url = location.origin + '/defaultInstance/getData/';
            $.get(url).done(function(data){
                $('#beforeZipSiteUserSignUp').val(data.siteUserSignUp.beforeZip);
            }).fail(function(data){
                console.log(data);
            });
        });

        $('.setToDefaultButtonButtonText').on('click', () => {
            event.preventDefault();
            let url = location.origin + '/defaultInstance/getData/';
            $.get(url).done(function(data){
                $('#buttonTextSiteUserSignUp').val(data.siteUserSignUp.buttonText);
            }).fail(function(data){
                console.log(data);
            });
        });

        $('#ageRow').on('change', function() {
            let ageRow = $('#ageRow').find(":selected").val();
            let genderRow = $('#genderRow').find(":selected").val();
            let zipRow = $('#zipRow').find(":selected").val();
            if (ageRow == genderRow || ageRow == zipRow || genderRow == zipRow) {
                Materialize.toast('Invalid Form Section Order', 3000);
            }
        });

        $('#genderRow').on('change', function() {
            let ageRow = $('#ageRow').find(":selected").val();
            let genderRow = $('#genderRow').find(":selected").val();
            let zipRow = $('#zipRow').find(":selected").val();
            if (ageRow == genderRow || ageRow == zipRow || genderRow == zipRow) {
                Materialize.toast('Invalid Form Section Order', 3000);
            }
        });

        $('#zipRow').on('change', function() {
            let ageRow = $('#ageRow').find(":selected").val();
            let genderRow = $('#genderRow').find(":selected").val();
            let zipRow = $('#zipRow').find(":selected").val();
            if (ageRow == genderRow || ageRow == zipRow || genderRow == zipRow) {
                Materialize.toast('Invalid Form Section Order', 3000);
            }
        });
    });
</script>