<form action="/siteUserSignUp/updateEditInstance/{{siteUserSignUp._id}}" method="post">

    <div class="row">
        <div class="input-field col s12">
            <input name="headerText" value="{{siteUserSignUp.headerText}}" id="headerText" type="text" class="validate">
            <label class="active" for="headerText">Enter Header Text</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input name="beforeAge" value="{{siteUserSignUp.beforeAge}}" id="beforeAge" type="text" class="validate">
            <label class="active" for="beforeAge">Enter Before Age</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input name="afterAge" value="{{siteUserSignUp.afterAge}}" id="afterAge" type="text" class="validate">
            <label class="active" for="afterAge">Enter After Age</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input name="beforeGender" value="{{siteUserSignUp.beforeGender}}" id="beforeGender" type="text" class="validate">
            <label class="active" for="beforeGender">Enter Before Gender</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input name="beforeZip" value="{{siteUserSignUp.beforeZip}}" id="beforeZip" type="text" class="validate">
            <label class="active" for="beforeZip">Enter Before Zip</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input name="buttonText" value="{{siteUserSignUp.buttonText}}" id="buttonText" type="text" class="validate">
            <label class="active" for="buttonText">Enter Button Text</label>
        </div>
    </div>

    <input type="hidden" value="{{siteUserSignUp.instanceId}}">

    <div class="row">
        <div class="col s12 m6 l6" ><p><a class="waves-effect waves-light btn" style="background-color: green;">Preview</a>
        </p></div>
        <div type="submit" class="col s12 m6 l6"><p><input value="Update" type="submit" class="waves-effect waves-light btn" style="background-color: #4a148c;">
        </p></div>
    </div>

</form>