<div class="col m7 s12">
    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">Instance Lists</span>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Activation</th>
                    <th>Update</th>
                </tr>
                </thead>

                <tbody>
                {{#each instances}}
                <form action="/instances/updateInstance/{{this._id}}" method="post">
                <tr>
                    <td>{{this.instanceName}}</td>
                    <td>
                        <input value="{{this.instanceLink}}" name="instanceLink" type="text">
                    </td>
                    <td>
                        <div class="switch">
                            <label class="show_hide" data-id="{{ this._id}}">
                                hide
                                <input type="checkbox" {{#if this.isActive}} checked {{/if}}>
                                <span class="lever"></span>
                                show
                            </label>
                        </div>
                    </td>
                    <td>
                        <button type="submit" class=" waves-effect waves-light btn" rel="{{this.instanceName}}formId">Update</button>
                    </td>
                </tr>
                </form>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="col m2 s12">
    <div class="card grey lighten-5" id="login-body">
        <form action="/instances/createInstance" method="post">
            <div class="card-content black-text">
                <span class="card-title">Add Instance</span>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Enter Instance Name" name="instanceName" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Enter Company Name" name="companyName" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Instance URL Without Space" name="instanceLink" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input onClick="formSubmit('val'); value="Submit" type="submit" class="waves-effect waves-light btn">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.show_hide').on('change',function(){
            var id = $(this).attr('data-id');
            var url = location.origin+'/instances/alterVisibility/'+id;
            $.get(url).done(function(data){
                console.log(data.instance);
                if (data.instance.isActive) {
                    Materialize.toast(data.instance.instanceName + ' activated.', 1000);
                } else {
                    Materialize.toast(data.instance.instanceName + ' deactivated.', 1000);
                }
            }).fail(function(data){
                console.log(data);
            });
        });
    });
</script>