{{accomplishment}}

<div class="row">
    <div class="col-12">
        <form action="/defaultSite/updateAccomplishment/{{accomplishment._id}}" method="post">

            <input type="hidden" value="{{accomplishment._id}}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Enter Header</label>
                <div class="col-sm-10">
                    <input type="text" name="headerText" class="form-control" placeholder="Header" value="{{accomplishment.headerText}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Enter Sub Header</label>
                <div class="col-sm-10">
                    <input type="text" name="subHeaderText" class="form-control" placeholder="Sub Header" value="{{accomplishment.subHeaderText}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Button Text</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="buttonText" placeholder="Button Text" value="{{accomplishment.buttonText}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Button Link</label>
                <div class="col-sm-10">
                    <input type="text" name="buttonLink" class="form-control" placeholder="Button Link" value="{{accomplishment.buttonLink}}">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary btn-block" type="submit">Update</button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block">Preview</button>
                </div>
            </div>
        </form>
    </div>
</div>

<br>
<hr class="font-weight-bold">

<br>
<hr class="font-weight-bold">

<div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#{{accomplishment._id}}categoryCreate">
            Create Category
        </button>
        <div class="modal fade" id="{{accomplishment._id}}categoryCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Category</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/category/create" method="post">
                            <input type="hidden" name="callBackURL" value="/defaultSite/accomplishments">
                            <input type="hidden" name="isCategoryUnderAccomplishment" value=true>
                            <input type="hidden" name="isCategoryUnderFutureGoals" value=false>
                            <input type="hidden" name="parentSectionId" value="{{accomplishment._id}}">
                            <div class="form-group">
                                <label>Category Name</label>
                                <input type="text" class="form-control" name="categoryName" placeholder="Enter Category Name">
                            </div>
                            <div class="form-group">
                                <label>Category Text</label>
                                <input type="text" class="form-control" name="categoryText" placeholder="Enter Category Text">
                            </div>

                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <div class="text-center font-weight-bold d-block p-2 bg-secondary text-white">Goal Category</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Goal Category Name</th>
                <th scope="col">Goal Category Text</th>
                <th scope="col">Edit</th>
                <th scope="col">Visibility</th>
                <th scope="col">Goals</th>
            </tr>
            </thead>
            <tbody>
            {{#each categories}}
            <tr>
                <td>{{this.categoryName}}</td>
                <td>{{this.categoryText}}</td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#updateCategory{{this._id}}">Update</button>
                    <div class="modal fade" id="updateCategory{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="leModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                                    <form action="/category/delete/{{this._id}}" method="post">
                                        <input type="hidden" name="callBackURL" value="/defaultSite/accomplishments">
                                        <button class="btn btn-danger" type="submit">Delete {{this.categoryName}}</button>
                                    </form>
                                </div>
                                <div class="modal-body">
                                    <form action="/category/update/{{this._id}}" method="post">
                                        <input type="hidden" name="callBackURL" value="/defaultSite/accomplishments">
                                        <input type="hidden" name="isCategoryUnderAccomplishment" value={{this.isCategoryUnderAccomplishment}}>
                                        <input type="hidden" name="isCategoryUnderFutureGoals" value={{this.isCategoryUnderAccomplishment}}>
                                        <div class="form-group">
                                            <label>Category Name</label>
                                            <input type="text" class="form-control" name="categoryName" placeholder="Enter Category Name" value="{{this.categoryName}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Category Text</label>
                                            <input type="text" class="form-control" name="categoryText" placeholder="Enter Category Text" value="{{this.categoryText}}">
                                        </div>

                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <form action="/category/alterVisibility/{{this._id}}" method="post">
                        <input type="hidden" name="callBackURL" value="/defaultSite/accomplishments">
                        {{#if this.isVisible}}
                            <button class="btn btn-danger" type="submit">Make Invisible</button>
                        {{else}}
                            <button class="btn btn-success" type="submit">Make Visibile</button>
                        {{/if}}
                    </form>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{this._id}}goalList">
                        Goal List
                    </button>
                    <div class="modal lg fade" id="{{this._id}}goalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Change Goals Visibilty and Text</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#{{this.categoryName}}createGoal">Create Goal for {{this.categoryName}}</button>
                                    </button>
                                    <div class="modal fade" id="{{this.categoryName}}createGoal" tabindex="-1" role="dialog" aria-labelledby="createGoal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="createGoal">Creating Goal for {{this.categoryName}}</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/goal/create" method="post"  enctype="multipart/form-data">
                                                        <input type="hidden" name="callBackURL" value="/defaultSite/accomplishments">
                                                        <input type="hidden" name="categoryId" value={{this._id}}>
                                                        <div class="form-group row">
                                                            <div class="custom-file">
                                                                <input type="file" name="image" class="custom-file-input">
                                                                <label class="custom-file-label font-weight-bold" for="customFile">Choose Goal Logo</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Goal Name</label>
                                                            <input type="text" class="form-control" name="goalName" placeholder="Enter Goal Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Goal Text</label>
                                                            <input type="text" class="form-control" name="goalText" placeholder="Enter Goal Text">
                                                        </div>

                                                        <button type="submit" class="btn btn-primary">Create</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Text</th>
                                            <th scope="col">Update</th>
                                            <th scope="col">Visibility</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#each this.goals}}
                                        <tr>
                                            <td>{{this.goalName}}</td>
                                            <td>{{this.goalText}}</td>
                                            <td>
                                                <button class="btn btn-primary" data-toggle="modal" data-target="#updateModal{{this._id}}">Update</button>
                                                <div class="modal fade" id="updateModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="leModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Update Goal</h5>
                                                                <form action="#" method="post">
                                                                    <input type="hidden" name="goalId" value="{{this._id}}">
                                                                    <button class="btn btn-danger" type="submit">Delete</button>
                                                                </form>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="/goal/update" method="post">
                                                                    <input type="hidden" name="callBackURL" value="/defaultSite/accomplishments">
                                                                    <input type="hidden" name="goalId" value="{{this._id}}">
                                                                    <div class="form-group">
                                                                        <label>Goal Name</label>
                                                                        <input type="text" class="form-control" name="goalName" placeholder="Enter Goal Name" value="{{this.goalName}}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Goal Text</label>
                                                                        <input type="text" class="form-control" name="goalText" placeholder="Enter Goal Name" value="{{this.goalText}}">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Update Goal</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">Update</button>
                                            </td>
                                        </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
